/* Importing Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF; 
  color: #000000; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #E0D7C5; 
}

/* Navbar Styles */
.navbar {
  background-color: #C9C9C2; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
}

.navbar-brand {
  font-family: 'Champignon', sans-serif;
  color: #4A4A4A; 
  font-size: 24px;
  font-weight: bold;
  text-transform: none;
}

.navbar-nav .nav-link {
  color: #000000;
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  color: #E0D7C5; 
}

/* Adding margin-top to the content below the navbar */
.right-container,
.left-container {
  margin-top: 80px; 
}

/* Left Container Styles */
.left-container {
  background-color: #FFFFFF; 
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.social-icons a {
  display: inline-block;
  margin: 10px 15px;
  color: #4A4A4A; 
  font-size: 10px;
}

.social-icons a:hover {
  color: #E0D7C5; 
}

/* Right Container Styles */
.right-container {
  padding: 80px;
  
}

.content-section, .dynamic_content {
  margin-top: 80px; 
  padding: 80px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section h1, .dynamic_content h1 {
  font-size: 32px;
  color: #000000;
  font-weight: 700;
}

.content-section p, .dynamic_content p {
  font-size: 18px;
  color: #C9C9C2; 
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }

  .left-container {
    padding: 15px;
    height: auto;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .social-icons {
    margin-top: 20px;
  }

  .content-section {
    padding: 15px;
  }
}

/* Footer Styles */
footer {
  background-color:#C9C9C2; 
  color: #FFFFFF; 
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #FFFFFF; 
}

footer a:hover {
  color: #E0D7C5; 
}
